@font-face {
    /* https://www.fontzillion.com/fonts/dichi/esphimere */
    font-family: "Esphimere";
    src: url("esphimere.otf") format("woff2");
}

@font-face {
    /* https://www.fontzillion.com/fonts/getvoip/getvoip-grotesque */
    font-family: "GetVoip";
    src: url("getvoip-grotesque.ttf") format("truetype");
}

.card {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 1em;
    height: 1.333333em;
    vertical-align: middle;
    font-family: GetVoip, sans-serif;
    font-weight: normal;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
}
.card.card-½ {
    font-weight: bold;
}

.miolo {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 1em;
}

.val {
    position: absolute;
    width: .8em;
    height: 1em;
    font-size: .35em;
    color: #FFF;
    line-height: 1em;
}
.card-½ .val {
    width: 1em;
    font-size: .3em;
    line-height: 1.3em;
}

.val.top {
    top: .15em;
    right: .15em;
}

.val.bot {
    bottom: .15em;
    left: .15em;
    transform: rotate(180deg);
}

.val span {
    font-size: .2em;
    position: absolute;
    display: block;
    width: 1.25em;
    height: 1.25em;
    line-height: 1.25em;
}


