@import "cards.css";

body {
    padding: 0;
    margin: 0;
    font-family: Esphimere;
    background: #102;
    box-shadow: inset 0 0 calc( (15vw + 15vh)/2 ) #000;
    overflow: hidden;
}
body, input, button { font-size: 3vmin }
@media (max-device-width: 500px) {
  body, input, button { font-size: 6vmin }
}

#ctrl {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,.6);
    color: #FFF;
    overflow: hidden;
    transition: 1s;
    z-index: 9999;
}
.opening-ctrl #ctrl {
    transition: 0s;
}
.ctrl-open #ctrl {
    background: rgba(0,0,0,.6);
    height: 50vh;
    overflow: visible;
}

#btCloseCtrl {
    position: absolute;
    bottom: -1.1em;
    right: -1.1em;
    border: none;
    border-radius: 0 0 0 .3em;
    background: rgba(0,0,0,.6);
    color: #FFF;
    font-size: 200%;
    line-height: 1em;
    width: 1.1em;
    padding-bottom: .1em;
    text-align: center;
    transition: 1s;
}
.ctrl-open #btCloseCtrl {
    right: 0;
}

#ctrl-content {
}

#uiDefGrad label {
    display: inline-block;
    border: 1px solid #FFF;
    border-radius: 4px;
    box-shadow: 1px 1px 4px #000;
    width: 1.2em;
    height: 1.2em;
    position: relative;
    bottom: -.2em;
}
#uiDefGrad input {
    display: none;
}
#uiDefGrad input::-moz-color-swatch,
#uiDefGrad input::-webkit-color-swatch {
    border: 1px solid #FFF;
    border-radius: 4px;
    box-shadow: 1px 1px 4px #000;
    width: 1.2em;
    height: 1.2em;
}

#uiDefGrad button {
    border: 1px solid rgba(255,255,255,.3);
    background: rgba(0,0,0,.3);
    border-radius: 4px;
    color: #FFF;
    padding: 0 .3em;
    margin: 0 .3em;
}

#table {
    height: 100vh;
    width: 100vw;
    margin: auto;
    background: #F8F;
    box-shadow: inset 0 0 calc( (15vw + 15vh)/2 ) #408, 0 0 calc( (15vw + 15vh)/2 ) #000;
    /*box-shadow: 0 0 10vw #000;*/
    position: relative;
    transition: 2s;
    z-index: 2;
}
.ctrl-open #table {
    filter: blur(3px);
    transition: 6s;
}

#table:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(cloth.jpg) 50% 50%;
    background-size: cover;
    mix-blend-mode: multiply;
}

#table:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -.2vw;
    right: -.2vw;
    border: .7vw solid rgba(0,0,0,.5);
    border-top: none;
    border-bottom: none;
    filter: blur(.1vw);
}

.card {
    border-radius: .12em;
    box-shadow: .02em .02em .1em rgba(0,0,0,.4);
    position: absolute;
    top: calc( 50vh - .7em );
    left: calc( 30vw - .5em );
    transition: 1s;
}

.card:nth-child(1) { z-index: 9; transform: rotate(00deg) }
.card:nth-child(2) { z-index: 8; transform: rotate(03deg) }
.card:nth-child(3) { z-index: 7; transform: rotate(06deg) }
.card:nth-child(4) { z-index: 6; transform: rotate(09deg) }
.card:nth-child(5) { z-index: 5; transform: rotate(12deg) }
.card:nth-child(6) { z-index: 4; transform: rotate(15deg) }
.card:nth-child(7) { z-index: 3; transform: rotate(18deg) }
.card:nth-child(8) { z-index: 2; transform: rotate(21deg) }

.card.open {
    top: calc( 100vh - 1.3em );
    box-shadow: .02em .02em .1em rgba(0,0,0,.6);
    transform: rotate(348deg);
}
.card.open:not(.selected):hover { transition: .3s }

.card.open.selected {
    box-shadow: .02em .02em .06em rgba(0,0,0,.6);
    transform: rotate(0deg);
    z-index: 1;
}

.card:after {
    content: "";
    display: block;
    position: absolute;
    top: -.5em;
    bottom: -.5em;
    left: -.5em;
    right: -.5em;
    background: url(paper.jpg) 50% 50%;
    background-size: cover;
    mix-blend-mode: multiply;
    transition: 1s;
}
.card.open.selected:after {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

@media (orientation: portrait) {

    .card {
        font-size: 17vw;
    }

    .card.open:nth-child(1) { left: -3.5vw }
    .card.open:nth-child(2) { left:  9.0vw }
    .card.open:nth-child(3) { left: 21.5vw }
    .card.open:nth-child(4) { left: 34.0vw }
    .card.open:nth-child(5) { left: 46.5vw }
    .card.open:nth-child(6) { left: 59.0vw }
    .card.open:nth-child(7) { left: 71.5vw }
    .card.open:nth-child(8) { left: 84.0vw }

    .card.open:not(.selected):hover { margin-top: -.6em }

    .card.open.selected {
        font-size: 90vw;
        top: calc( (90vh - 90vw*1.4) / 2 );
        left: 5vw;
    }

}

@media (orientation: landscape) {

    #table {
        max-width: 60vw;
    }

    .card {
        font-size: 9vw;
    }

    .card.open:nth-child(1) { left: 00.00vw }
    .card.open:nth-child(2) { left: 07.28vw }
    .card.open:nth-child(3) { left: 14.57vw }
    .card.open:nth-child(4) { left: 21.85vw }
    .card.open:nth-child(5) { left: 29.14vw }
    .card.open:nth-child(6) { left: 36.43vw }
    .card.open:nth-child(7) { left: 43.71vw }
    .card.open:nth-child(8) { left: 51.00vw }

    .card.open:not(.selected):hover { margin-top: -.4em }

    .card.open.selected {
        font-size: calc( (94vh - 9vw) / 1.4 );
        top: 2vh;
        left: calc( 30vw - ((94vh - 9vw) / 1.4) / 2 );
    }

}
