@import "cards.css";

body {
    padding: 0;
    margin: 0;
    background: #DDD;
}

#pages {
    text-align: center;
    padding: 15mm 0;
}

article {
    display: inline-block;
    box-sizing: border-box;
    width: 210mm;
    height: 297mm;
    padding: 14mm;
    margin: 5mm 2vw;
    background: #FFF;
    box-shadow: 5mm 5mm 15mm rgba(0,0,0,.5);
    text-align: center;
    font-size: 45mm;
    vertical-align: middle;
    line-height: 1px;
    font-family: sans-serif;
    font-weight: bold;
}

#one-card {
    font-size: 130mm;
    font-family: sans-serif;
    width: auto;
    height: auto;
    padding: 0;
}

#front {
}

